# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse files
*.classpath
*.project
*.settings/
bin/

# IntelliJ IDEA files
*.iml
.idea/
out/

# VS Code files
.vscode/

# Mac OS files
.DS_Store

# Environment files
.env

# Test reports
test-output/
